/*
 *  Romeo, Luuk, Kai, Sven
 *  28-6-2022
 */


/***************/
/* 1. GENERAL */
/*************/

*
{
    font-family: verdana;
}


body
{
    margin: 0;
    padding: 0;
    background: rgb(88,207,238);
    background: linear-gradient(rgba(88,207,238,1) 0%, rgba(169,144,186,1) 100%);
}

.center
{
    text-align: center;
    margin: auto;
}

h2, h1
{
    color: white;
    text-shadow: black 1px 1px 1px;
}

/***************/
/* 2. NAV BAR */
/*************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*****************/
/* 3. HOME PAGE */
/***************/

#homePicture
{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p
{
    color: white;
    text-shadow: black 1px 1px 1px;
}

#eventbutton
{
    background-color: #F7979F;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 43%;
}

#eventbutton:hover{
    background-color: #f86c7b;
    color: #f3f3f3;
}